*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: #7bd4fa;
    position: sticky;
}
nav .logo img{
    font-size: 30px;
    float: left;
    height: 60px;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav li a:hover{
    color: blueviolet;
}
.hero{
    display: flex;
    flex-direction: row;
    background-color: rgb(229, 229, 230);
    height: 600px;
    width: 100%;
  }
  .hero .heroText{
    text-align: center;
    position: relative;
    margin: auto;
    height: 300px;
  padding: 30px;
  border-radius: 5px;
  margin-right: 15px;

}
.hero img{
  background-repeat: no-repeat;
  height: 400px;
  height: 400px;
  margin-top: 50px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}
button {
  margin-top: 60px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #008eca, #ff5922);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(135deg, #4d4c4c, #062d3d);
}
.hero .heroText button:hover{
  color: blueviolet;
  background-color: black;
}
#para img{
  height: 400px;
  background-color: cadetblue;
  background-repeat: no-repeat;
  width: 100%;
  
}
#para p{
  color: rgb(0, 0, 0);
  position: relative;
  top: -250px;
  left: 350px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.gallery-heading{
  font-size: 35px;
  text-align: center;
  background-color: #7bd4fa;
  margin-bottom: 30px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 140px;
  
}
.cards img{
  height: 230px;
  width: 250px;
  border-radius: 5px 5px 0px 0px;
}
.cards{
  border: 2px solid black;
  height: 300px;
  width:254px;
  border-radius: 5px;
  margin-left: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #7bd4fa;


}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
}
.cards p{
  padding-left: 3px;
}

.site {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.site table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.site th, .site td {
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.site th {
    background-color: #7bd4fa;
    color: #333;
}

.site td {
    background-color: #fff;
    color: #666;
}

.site tr:hover {
    background-color: #f5f5f5;
}

/* Custom styling for specific cells or columns */
.site td:nth-child(2),
.site td:nth-child(5) {
    text-align: left;
}

.site td:nth-child(3),
.site td:nth-child(4) {
    text-align: left;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    .site {
        width: 100%;
    }
}

.Copyright_text{
  height: 70px;
  width: 100%;
  background-color: #7bd4fa;
  padding-top: 20px;
}
.annual{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: -20px;
  letter-spacing: 2px;
}
.dot{
  float: right;
  padding-right: 250px;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}
.Copyright_text i{
  color: rgb(0, 0, 0);
  margin-left: 150px;
  font-size: 30px;
}
.Copyright_text i:hover{
  color: rgb(35, 133, 133);
}
i{
  color: #000000;
}